<div class="root">
    <div class="container centered">
        <div><app-present-artisan-unit></app-present-artisan-unit></div>
        <div><app-present-artisan-unit></app-present-artisan-unit></div>
        <div><app-present-artisan-unit></app-present-artisan-unit></div>

        <div><app-present-artisan-unit></app-present-artisan-unit></div>
        <div><app-present-artisan-unit></app-present-artisan-unit></div>
        <div><app-present-artisan-unit></app-present-artisan-unit></div>
    </div>
    <div class="navigateur">
        
    </div>
</div>