<div class="root centered">
	<div class="container1 centered">
		<div class="title centered" >
			<div class="elem1"><img src="assets/logo.png"></div>
			<div class="elem2 "><span>OneClick! Work</span></div>
		</div>
	</div>
	
	<div class="container2 centered">	
		<div class="options centered" >
			<div class="centered" href="#"><a>Produits</a></div>
			<div class="centered" href="#"><a>Services</a></div>
			<div class="centered" href="#"><a>A Propos</a></div>
			<div class="login centered" href="#"><a>Log in</a></div>
		</div>
	</div>
	
</div>
