<div class="root">
    <div class="container1">
        <div class="title centered" >
			<div class="elem1"><img src="assets/logo.png"></div>
			<div class="elem2 "><span>{{ Configs.platform_name }}</span></div>
		</div>
        <div class="social">
            <span>reseau social au business model valide.</span>
        </div>
        <div class="copyright">
            <span>Tout droits reserves</span>
        </div>
    </div>
    <div class="container2">
        <div>
            
        </div>
    </div>
</div>