<div class="root centered">
    <div class="container1">
        <div class="title centered" >
			<div class="elem1"><img src="assets/logo.png"></div>
			<div class="elem2 "><span>{{ Configs.platform_name }}</span></div>
		</div>
        <div class="social">
            <span>reseau social d'artisans au business model valide.</span>
        </div>
        <div class="copyright">
            <span>©Tout droits reserves</span>
        </div>
    </div>
    <div class="container2">
        <div>
            <div><h2>Liens Utiles</h2></div>
            <div routerLink="" ><a href=# style="pointer-events: none" >Accueil</a></div>
            <div><a href=# style="pointer-events: none" >Produits</a></div>
            <div><a href="/#services-box">services</a></div>
        </div>
    </div>
    <div class="container3" id="ffooterr">
    	<div>
			<div><h2>Profils</h2></div>
			<div><a href=# style="pointer-events: none" >Vue publique</a></div>
			<div routerLink="/actionDashboard" ><a href=# style="pointer-events: none" >Tableau de bord</a></div>
			<div routerLink="/creer-offre" ><a href=# style="pointer-events: none" >Creer une offre</a></div>
		</div>
    </div>
</div>
