<div class="root centered">
	<div class="container">
		<div class="minTitre">Nos valeurs</div>
		<div class="Titre"><h2>Les choses en lesquelles nous croyons</h2></div>
		<div class="description">Vous pouvez resoudre vos problemes d'artisanat facilement a partir de maintenant bienvenue</div>
		<div class="enumerations">
			<div class="enumeration">
				<img src="assets/logo.png">
				<div class="enumeration-text">
					<div><h4>nous sommes honnetes</h4></div>
					<div><span>Nous vous proposons des srtisans au juste prix</span></div>
				</div>
			</div>
			
			<div class="enumeration">
				<img src="assets/logo.png">
				<div class="enumeration-text">
					<div><h4>nous sommes honnetes</h4></div>
					<div><span>Nous vous proposons des srtisans au juste prix</span></div>
				</div>
			</div>
			
			<div class="enumeration">
				<img src="assets/logo.png">
				<div class="enumeration-text">
					<div><h4>nous sommes honnetes</h4></div>
					<div><span>Nous vous proposons des srtisans au juste prix</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
