<div class="root centered">
	<div class="container">
		<div class="minTitre">Nos valeurs</div>
		<div class="Titre"><h2>Les principes en lesquelles nous croyons</h2></div>
		<div class="description">Vous pouvez resoudre vos problemes d'artisanat en quelques cliques a partir de maintenant</div>
		<div class="enumerations">
			<div class="enumeration">
				<img src="assets/bg/sal_2.png">
				<div class="enumeration-text">
					<div><h4>L'Honneteté</h4></div>
					<div><span>Essentiels pour la confiance mutuelle</span></div>
				</div>
			</div>
			
			<div class="enumeration">
				<img src="assets/bg/range_big.png">
				<div class="enumeration-text">
					<div><h4>Le Travail</h4></div>
					<div><span>Seul le travail paie</span></div>
				</div>
			</div>
			
			<div class="enumeration">
				<img src="assets/bg/walk_res.png">
				<div class="enumeration-text">
					<div><h4>Vive les meilleurs</h4></div>
					<div><span>N'hesiter pas a commenter et a laisser des notes pour les decelés</span></div>
				</div>
			</div>
		</div>
	</div>
</div>
