<div class="root centered">
    <div><app-art-dashboard-workspace-projet-select  [nbr1] = this.projets.length
  [nbr2] = this.projetsAll.length #selector ></app-art-dashboard-workspace-projet-select></div>
    <div><app-art-dashboard-workspace-projet-list *ngIf="selector.optAct == 1" [list]="projetsAll"></app-art-dashboard-workspace-projet-list></div>
    
    <div><app-art-dashboard-workspace-projet-list *ngIf="selector.optAct == 0" [list]="projets"></app-art-dashboard-workspace-projet-list></div>
    
</div>
