.root {
    height: 9vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    box-shadow: inset 0 0 .2em rgb(220, 220, 220,0.9), 0 0 .4em gray;
}
.root img {
    width: 30px;
    margin-right: 65px;
    border-radius: 30px
}
.root img:hover{
	border : 1px black solid;
}
.board {
    font-weight: 600;
    padding-left: 270px;
    font-size: 20pt;
}
