
<html>
    <head>
        <title>Enregistrement | OneClick!Work</title>
    </head>
    <body>
        <div class="bg"></div>
        <form  class="root centered">
            <div class="titre centered"  ><h2>Bienvenue sur OneCick!Work</h2></div>
            <table>
                <tr>
                    <td><label for="mail" >Adresse Mail</label></td>
                    <td><input id="mail" name="mail" type=text placeholder="Entrez votre adresse mail" /></td>
                </tr>
                <tr>
                    <td><label for="lang" >Langue</label></td>
                    <td><input id="lang" name="lang" type=text placeholder="Entrez votre langue preferee" /></td>
                </tr>
            </table>
            <div><input type=submit value="S'enregistrer" ></div>
        </form>
    </body>
</html>

