
<div>
<head>
    <title>Liste des Hopitaux</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"> 
   <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <h1 style="color: brown; text-align: center;">Liste Des Hopitaux</h1>
    <div class="container">
        <div class="row">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Latitude</th>
                        <th>Latitude</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hôpital Central de Yaoundé</td>
                        <td>Yaoundé</td>
                        <td>Avenue Henri Dunant</td>
                    </tr>          

                </tbody>
            </table>
        </div>
    </div>   
    <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="./app.js"></script>
</body>
</div>
