.root{
    width:100%;
    color: white;
    margin-top: 60px;
	margin-bottom: 60px;
}
.container {
    width: 80%;
    flex-direction: column;
    background-color: #0A2640;
    border-radius: 12px;
    padding-top: 2em;
    padding-bottom: 2em;
}
.container > div {
    padding-bottom: 1em;
}
.encouragement {
    width: 65%;
    text-align: center;
}
.encouragement > h1 {
    font-weight: 350;
}
form {
	flex-wrap: wrap;
}
form input {
	margin: 1em;
	text-overflow: ellipsis;
}
.startNow {
	background: white;
	height: 2.5em;
	width: 30%;
	min-width: 15em;
	border-radius: 50px;
	padding-left: 1.3em;
	font-size: 16px
}
#butStart {
	min-width: 8em;
	border-radius: 50px;
	width: 10%;
	height: 2.5em;
	font-weight: 600;
	font-size: 18px;
	background-color: #65E4A3;
}
