<ngb-carousel
	#carousel
	[interval]="4000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"

>
	<ng-template ngbSlide *ngFor="let img of images; index as i">
		<!-- <div class="carousel-caption">
			<h3>My slide {{i + 1}} title</h3>
		</div> -->
		<div class="container centered">
			<div class="elements debug">
				<artisan-unit></artisan-unit>
				<artisan-unit></artisan-unit>
				<artisan-unit></artisan-unit>
			</div>
		</div>
	</ng-template>
</ngb-carousel>
