<div class="root">
	<app-header></app-header>
	<div class="centered"><app-present-artisans-unit></app-present-artisans-unit></div>
	<div class="presents">
		<div class="service">
			<app-present-artisan-service></app-present-artisan-service>
		</div>
		<div class="planT centered">
			<app-present-plan-t></app-present-plan-t>
		</div>
	</div>
	<div class="commentaires centered">
		<div class="header"><h1>Commentaires</h1>
			<hr style="width:100%"></div>
<!-- COMMENTS --- COMMENTS --- COMMENTS --- COMMENTS -->
		<div class="enumeration centered">
			<img src="assets/logo.png">
			<div class="enumeration-text">
				<div><h4>WHO</h4></div>
				<div><span>Tres bon service</span></div>
			</div>
		</div>
		<div class="enumeration centered">
			<img src="assets/logo.png">
			<div class="enumeration-text">
				<div><h4>WHO</h4></div>
				<div><span>Tres bon service</span></div>
			</div>
		</div>
<!-- /COMMENTS --- /COMMENTS --- /COMMENTS --- /COMMENTS -->
		<div>...</div>
	</div>

	<app-footer></app-footer>
</div>
