<div class="root centered">
	<div class="minTitle">
		<span>Nos nombres</span>
	</div>
	<div class="massTitle">
		<h1>La voie de la reussite s'ouvre devant la communaute de {{ Configs.platform_name }} </h1>
	</div>
	<div class="presentation centered">
		<div class="donnee">
			<div class="chiffre">120m</div>
			<div class="titre">Artisans</div>
		</div>
		<div class="donnee">
			<div class="chiffre">10.000</div>
			<div class="titre">Projets Acheves</div>
		</div>
		<div class="donnee">
			<div class="chiffre">240</div>
			<div class="titre">Personnes nous font confiance</div>
		</div>
	</div>
</div>
