.root {
	height: 120px;
	flex-direction: column;
	background-color: #0A2640;
	color: white;
	width: 100%;
	padding-bottom: 15em;
	padding-top: 2.5em;
}
form {
	width: 100%;
	flex-wrap: wrap;
}
.container1 {
	justify-content: end;
	width: 60%;
}
.container2 {
	justify-content: start;
	width: 40%;
	position: relative;
	padding-left: 1em;
}
form div input {
	text-overflow: ellipsis;
}
.searchEntry {
	background: white;
	height: 2.5em;
	width: 50%;
	min-width: 15em;
	border-radius: 50px;
	padding-left: 1.3em;
	font-size: 16px;
}
.searchEntry:focus {
	border: 3px #65E4A3 solid;
}
#butSearch {
	border-radius: 50px;
	height: 2.5em;
	background-color: #65E4A3;
	padding-left: 15px;
	padding-right: 15px;

	font-weight: 600;
	font-size: 18px;
	
	border: 0;
	outline: 0;
}

#butSearch:hover {
    background-color: #43c281;
}

.an-1 {
  font-weight: 900;	
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.an-1 .letter {
  display: inline-block;
  line-height: 1em;
}

.endOf {
	margin-top: 1em;
	text-align: center;
	width: 100%;
}
