<div class="root centered">
	<form class="centered">
		<div class="centered container1 ">
			<input type=text 
				placeHolder="Trouver un artisan" 
				class="searchEntry" 
				name="searchEntry" 
				#searchEntry 
				[(ngModel)]="keyword" 
			/>
		</div>
			<div class="container2">
				<button id="butSearch" class="centered" type="submit" value="Rechercher" (click)="onSearch()" >
					Rechercher
				</button>
			</div>
	</form>
	<div class="endOf centered">
		<div class="centered" ><span>{{ Configs.platform_name }}, en un clic trouver le meilleur artisan pour votre chantier</span></div>
		
	</div>
	<div class="container centered">
		<h3 class="an-1">La solution a tous vos chantier a porter de main</h3>
  </div> 
</div>
