
<html>
    <head>
        <title>Connexion | OneClick!Work</title>
    </head>
    <body class="centered">
        <div class="bg"></div>
        <form  class="root centered">
            <div class="titre centered"  ><h2>Bon Retour OneCick!Work</h2></div>
            <table>
                <tr>
                    <td><label for="mail" >Adresse Mail</label></td>
                    <td><input id="mail" name="mail" type=text placeholder="Entrez votre adresse mail" /></td>
                </tr>
                <tr>
                    <td><label for="pass" >Mot de Passe</label></td>
                    <td><input id="pass" name="pass" type=text placeholder="Entrez votre mot de passe" /></td>
                </tr>
            </table>
            <div class="passOublier lien"><a href="#" >mot de passe oublie ?</a></div>
            <div><input type=submit value="Connexion" class="butConnexion"></div>
            <div href="#" class="creer lien"><a routerLink="/enregistrement1" >Creer un Compte</a></div>
        </form>
    </body>
</html>
