<div class="pro centered" >
    <img src="#">
    <div class="text" [@closeOpenAnim]="closed ? 'closed' : 'open' ">
        <div class="title">
            {{data.titre}}
        </div>
        <div>salaire max: {{data.int_salaire_sub}} <u></u> salaire max:  {{data.int_salaire_sup}} <u></u> </div>
        <div>nombre de personne: {{data.nb_personnes_requis}} <u></u></div>
        <div class="desc">{{data.description}}</div>
    </div>
    <div class="arrow" (click)="onArrow()" [@closeOpenAnim]="closed ? 'void' : 'rotated' "><mat-icon>keyboard_arrow_down</mat-icon></div>
</div>