<div class="messagerie_backgrounds" id="messagerie_chatSpace">
  <div id="messagerie_chatSpace_header">
    <div id="messagerie_profil">
      <div class="messagerie_contacts_elements texte_title">
        <div class="messagerie_contacts_elements_img">
          <img src="assets/vignettes/consultant/head.svg" />
        </div>
        <div class="messagerie_contacts_elements_infos">
          <div class="messagerie_contacts_elements_name">Ngaba Franck</div>
          <div class="messagerie_contacts_elements_number">16 utilisateurs satisfaits</div>
        </div>
        <div id="messagerie_phoneVideo">
          <img id="messagerie_phone_img" src="assets/vignettes/consultant/video.svg" />
          <img id="messagerie_video_img" src="assets/vignettes/consultant/phone.svg" />
        </div>
      </div>
    </div>
    <div id="messagerie_menu">
      <img src="assets/vignettes/consultant/menu.svg" />
    </div>
  </div>

  <div id="messagerie_chatSpace_messages">
    <!---------------------------------UP-------------------------->
    <div class="messagerie_chatSpace_messageBox">
      <div class="messsagerie_chatSpace_senderMessage">
        <div class="messsagerie_chatSpace_sender">
          <img src="assets/vignettes/consultant/head.svg" />
        </div>

        <div class="messagerie_chatSpace_message">Bonjour</div>

      </div>
      <div class="messagerie_chatSpace_messageBox_time">8:40 AM, Today</div>
    </div>
    <!---------------------------------/UP-------------------------->

    <div class="messagerie_chatSpace_messageBox">
      <div class="messsagerie_chatSpace_senderMessage">
        <div class="messsagerie_chatSpace_sender">
          <img src="assets/vignettes/consultant/head.svg" />
        </div>

        <!--<div class="messagerie_chatSpace_message">Quel est le probleme de votre appareil ?</div>-->
        <div class="messagerie_chatSpace_message">Avez vous une preference dans la presentation de votre pot ?</div>

      </div>
      <div class="messagerie_chatSpace_messageBox_time">8:40 AM, Today</div>
    </div>
    <!---------------------------------PU-------------------------->

    <div class="messagerie_chatSpace_messageBox_reverse">
      <div class="messsagerie_chatSpace_senderMessage_reverse">
        <div class="messsagerie_chatSpace_sender_reverse">
          <img class="imgClient" src="./me.jpg" />
        </div>

        <!--<div class="messagerie_chatSpace_message_reverse">Mon ordinateur reste plante sur l'ecran de demarrage.</div>-->
        <div class="messagerie_chatSpace_message_reverse">Le pot doit etre multicolor avec des motifs de chats</div>

      </div>
      <div class="messagerie_chatSpace_messageBox_time">8:55 AM, Today</div>
    </div>
    <!---------------------------------/PU-------------------------->
    <div class="messagerie_chatSpace_messageBox_reverse">
      <div class="messsagerie_chatSpace_senderMessage_reverse">
        <div class="messsagerie_chatSpace_sender_reverse">
          <img class="imgClient" src="./me.jpg" />
        </div>
        <div class="messagerie_chatSpace_message_reverse">Des pierres precieuses autour, iraient bien aussi.</div>

        <!--<div class="messagerie_chatSpace_message_reverse">Lorsque j'allume l'ordi, il reste plante, je ne comprend pas , ce qui se passe, pourtant hier ca donnait bien meme. Aujourd'hui en demarrant la machine, un ecran noir bizarre s'affiche.</div>-->

      </div>
      <div class="messagerie_chatSpace_messageBox_time">8:55 AM, Today</div>
    </div>
    <!---------------------------------PU-------------------------->
  </div>
  <div id="messagerie_chatSpace_footer">
    <div>
      <div class="messagerie_chatSpace_footer_extreme">
        <img src="assets/vignettes/consultant/paperclip.svg" />
      </div>
      <div id="messagerie_chatSpace_footer_input">
        <textarea placeholder="Type your message..." ></textarea>
      </div>
      <div class="messagerie_chatSpace_footer_extreme messagerie_chatSpace_footer_extreme_droit">
        <img src="assets/vignettes/consultant/send.svg" />
      </div>
    </div>
  </div>
</div>
