
<html>
    <head>
        <title>Enregistrement | OneClick!Work</title>
    </head>
    <body>
        <div class="bg"></div>
        <form  class="root centered">
            <div class="titre centered"  ><h2>Bienvenue sur OneCick!Work</h2></div>
            <table>
                <tr>
                    <td><label for="mail" >Adresse Mail</label></td>
                    <td><input id="mail" name="mail" type=text placeholder="Entrez votre adresse mail" /></td>
                </tr>
                <tr>
                    <td><label for="pass" >Mot de Passe</label></td>
                    <td><input id="pass" name="pass" type=text placeholder="Entrez votre mot de passe" /></td>
                </tr>
                <tr>
                    <td><label for="pass" >Mot de Passe</label></td>
                    <td><input id="pass" name="pass" type=text placeholder="Entrez votre mot de passe" /></td>
                </tr>
            </table>
            <div><input type=submit value="Continuer" ></div>
            <div href="#" class="creer lien"><a>J'ai deja un compte</a></div>
        </form>
    </body>
</html>

