/*------------------------------------------------------------------*/
/*------------------------------NavBar------------------------------*/
/*------------------------------------------------------------------*/
.navbar {
    background-color: #0A2640;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
    
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    list-style: none;
    padding: 20px;
    flex-wrap: wrap;
  }
  .nav-links li {
    background-color: white;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: larger;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  .nav-links li img {
    width: 15px;
    padding-left: 5px;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    background-color: white;
    padding: 15px;
    list-style: none;
    margin: 0;
    border-radius: 0.5em;
    width: 14%;
  }
    
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown img {
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
  }
  .dropdown:hover img{
    transform: rotate(90deg);
  }

  .dropdown-menu li {
    margin: 10px;
  }
    
  .dropdown-menu li a {
    color: #0A2640;
    text-decoration: none;
  }
  /*----------------------------------------*/

  form {
    flex-wrap: wrap;
    background-color: #0A2640;
    width: 100%;
  }
  form input {
    margin: 1em;
    text-overflow: ellipsis;
  }
  .searchEntry {
    height: 2.5em;
    width: 30%;
    min-width: 15em;
    border-radius: 50px;
    padding-left: 1.3em;
    font-size: 16px
  }
  #butSearch {
    min-width: 8em;
    border-radius: 50px;
    width: 10%;
    height: 2.5em;
    font-weight: 600;
    font-size: 18px;
    background-color: #65E4A3;
  }
  #butSearch:hover {
    background-color: #43c281;
  }
  .root {
    width: 100%;
}
/*----------------------------------------------------*/

.container{
    margin-top: .5rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #f7f4f4;
    width: 22rem;
}
.p2{
    margin-left: 1rem;
    width: auto;
}
.milieu{
    margin-top: .1rem;
    line-height: 2;
    word-spacing: 1rem;
    
}
.milieu label span{
	margin-left: .5rem
}
.bas{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.bas a, .apply{
    margin-left: 9rem;
    text-decoration: none;
    background-color: #0A2640;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}
.bas a:visited{
	text-decoration: none;
	color: white;
}

.MM{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.m2{
    margin-left: 1rem;
}
.m2 p{
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(167, 167, 172);;
    word-spacing: 2.5rem;
    width: 5rem;
}
.m2 input, .m1 input{
	width: 5rem;
}
.m1 p{
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(167, 167, 172);
    word-spacing: 2.5rem;
    width: 5rem;
}
