<div class="root">
    <app-header></app-header>
        <form class="centered">
            <input type=text placeHolder="Trouver un artisan" class="searchEntry"/>
            <input type="submit" value="Search" id="butSearch" />
        </form>
    <div class="optionsRech">
        <div class="navbar">
            <ul class="nav-links">
                <li class="dropdown">
                    categorie
                    <img src="assets/vignettes/send.svg">
                    <ul class="dropdown-menu">
                    </ul>
                </li>
                <li class="dropdown">
                    Details sur l'artisant
                    <img src="assets/vignettes/send.svg">
                    <ul class="dropdown-menu">
                    </ul>
                </li>
                <li class="dropdown">
                    Budget
                    <img src="assets/vignettes/send.svg">
                    <ul class="dropdown-menu">
                    	<!-- -->
		                	<div class="container">
		<div class="milieu">
		    <label><input type="radio" name="expresse"><span>Valeur en dessous de 10.000Fcfa</span></label><br>
		    <label><input type="radio" name="expresse"><span>Entre 10.000-50.000Fcfa</span></label><br>
		    <label><input type="radio" name="expresse"><span>50.000Fcfa & Plus</span></label><br>
		    <label><input type="radio" name="expresse"><span>Personnaliser</span></label>
		</div><br> 
		<div class="MM">
		    <div class="m1">
		        <label for="min-price" >MIN.</label>
		        <input placeHolder="...Fcfa" id="min-price"/>
		    </div>
		    <div class="m2">
		        <label for="max-price" >MAX.</label>
		        <input placeHolder="...Fcfa" id="max-price"/>
		    </div>
		</div>
		<div class="bas">
		    <h3>Reinitialiser</h3>
		    <a class="apply" >Appliquer</a>
		</div>
	</div>

                    </ul>
                </li>
                <li class="dropdown">
                    Temps des travaux
                    <img src="assets/vignettes/send.svg">
                    <ul class="dropdown-menu">
                    	<div class="container">
    		<div class="milieu">
				<label><input type="radio" name="expresse"><span>Express, en 24H</span></label><br>
				<label><input type="radio" name="expresse"><span>fait en 3 jours</span></label><br>
				<label><input type="radio" name="expresse"><span>Remis en 7 jours</span></label><br>
				<label><input type="radio" name="expresse"><span>A n'importe quelle moment</span></label>
			</div> 
			<div class="bas">
				<h3>Reinitialiser</h3>
				<a class="apply" >Appliquer</a>
			</div>
		</div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="list-container">
        <app-present-artisans-list #list [keyword]="keyword"></app-present-artisans-list>
    </div>
    <div><app-footer></app-footer></div>
</div>
