<div class="root centered">
    <div></div>
    <div class="ppro centered" *ngFor="let option of options; index as i" [attr.data-index]="i" [style]="stylePpro(i)">
        <div class="pres centered">
            <img [src]="option.img">
            <div class="centered">
                <div class="title">{{option.title}}</div>
                <div class="number">{{option.number}}</div>
            </div>
        </div>
        <div [class]="styleSelected">
            <div></div>
        </div>
    </div>
    
</div>