.root {
    width:900px;
    box-shadow: inset 0 0 .2em rgb(220, 220, 220,0.9), 0 0 .4em gray;
    border-radius:20px;
    height: 110px;
    padding:4.5%;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: white;
}
.ppro{
    padding-right:3%;
    padding-left: 3%;
    flex-direction: column;
    cursor:pointer;
    
}
.ppro:hover{
    background-color: #65E4A3;
}

.pres img {
    width: 60px;
    border-radius:5px;
    margin-right: 5%;
    border-radius: 10px;
}
.ppro .pres div{
    flex-direction: column;
}
.number {
    font-size:22pt;
    font-weight: 700;
    padding-bottom: 5pt;
    padding-top: 5pt;
}
.title{
    width:70px
}

.sub{
    width:100%;

}
