<div class="root centered ">
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
    <app-art-dashboard-workspace-projet-list-item></app-art-dashboard-workspace-projet-list-item>
</div>
